<footer id="footer">
	<div class="container">
		<div class="text">
			<p>Adoptable Animals &copy;2020 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi, voluptates.</p>
		</div>
		<div class="social">
			<a href="#"><i class="fab fa-facebook-f"></i></a>
			<a href="#"><i class="fab fa-twitter"></i></a>
			<a href="#"><i class="fab fa-instagram"></i></a>
			<a href="#"><i class="fab fa-youtube"></i></a>
		</div>
	</div>
</footer>
<script src="/navbar_toggle.js"></script>
</body>
</html>