<%- include("../partials/header") %>

<div id="new-1">
	<form class="page-form page-form-large container" action="/animals" method="POST">
		<h1 class="page-form__title">Add a New Animal</h1>
		<div class="page-form__line">
			<label for="name" class="page-form__line--label">Animal Name</label>
			<input type="text" name="name" class="page-form__line--input">
		</div>
		<div class="page-form__line">
			<label for="image" class="page-form__line--label">Image Url</label>
			<input type="text" name="image" class="page-form__line--input">
		</div>
		<div class="page-form__line">
			<label for="sex" class="page-form__line--label">Sex</label>
			<input type="text" name="sex" class="page-form__line--input">
		</div>
		<div class="page-form__line">
			<label for="age" class="page-form__line--label">Age</label>
			<input type="text" name="age" class="page-form__line--input">
		</div>
		<div class="page-form__line">
			<label for="breed" class="page-form__line--label">Breed</label>
			<input type="text" name="breed" class="page-form__line--input">
		</div>
		<div class="page-form__line">
			<label for="weight" class="page-form__line--label">Weight</label>
			<input type="text" name="weight" class="page-form__line--input">
		</div>
		<div class="page-form__line">
			<label for="description" class="page-form__line--label">Description</label>
			<textarea class="page-form__line--textarea" rows="5" name="description"></textarea>
		</div>
		<div class="page-form__line">
			<button class="btn btn-green">Add this Animal</button>
		</div>
	</form>
</div>

<%- include("../partials/footer") %>