<%- include("partials/header") %>

<section id="about-1">
	<div class="showcase container">
		<h1 class="showcase__header">About Us</h1>
		<div class="showcase__group showcase__group--1">
			<div class="showcase__group--left">
				<p>We are a multi-faceted agency dedicated to providing the citizens of Charlotte and Mecklenburg County with animal care services.  We are an organization that values community partnerships and working jointly to build a better world for animals and the people who own them.</p>
				<br>
				<p>​Shelter and Rescue Partners are perhaps the most crucial element in our mission to rescue abused animals. After the Humane Society of the United States removes animals from abusive situations, we work with our partners to care for and place the animals. As local groups with access to local resources, partners provide the animals with veterinary care, rehabilitation and ultimately, placement in lifelong homes.</p>
			</div>
			<div class="showcase__group--right">
				<img src="/img/about-1.jpg" alt="">
			</div>
		</div>
		<div class="showcase__group showcase__group--2">
			<div class="showcase__group--left">
				<img src="/img/about-2.jpg" alt="">
			</div>
			<div class="showcase__group--right">
				<h2>What We Value</h2>
				<ul>
					<li>The inherent worth of all companion animals.</li>
					<li>The principles and goals of the no-kill movement.</li>
					<li>The richness and complexity of the human-animal bond.</li>
					<li>Our global network of rescue partners with whom we share our decades of experience and expertise.</li>
					<li>The generous support of friends and donors who make our work possible.</li>
					<li>Honesty, diversity, integrity, transparency, sustainability, and innovation.</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<%- include("partials/footer") %>